header {
  background-color: white;
  height: 165px;
  text-align: center;
}
body {
  margin: 0;
  font-family: Comic Sans MS;
}
img.logo {
  width: 300px;
  height: 165px;
  float: left;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

nav ul li {
  float: right;
}
li:float {
  background-color: gray;
}
header h1 {
  position: absolute;
  bottom: 75%;
  right: 25%;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}
nav ul li a:hover {
  background-color: gray;
}
nav ul li a {
  font-weight: bold;
  font-size: 30px;
  font-family: ZCOOL QingKe HuangYou;
}
section.gamer {
  margin: 80px;
  text-align: center;
}
section.gamer p{
}
img.gamerimg {
  height: 400px;
  width: 400px;
  float: left;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 25px;
  margin-bottom: 300px;
}
p.oshis {
  font-size: 25px;
  margin-bottom: 300px;
  width: 600px;
}
h1.oshis {
  font-size: 40px;
  width: 600px;
}
img.gamerimgr {
  height: 400px;
  width: 600px;
  float: right;
  position: absolute;
  top: 99%;
}
a.game {
  padding: 10px;
  background-color: #6f95c9;
  border-radius: 10px;
}
div.games {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}
div.games a.game img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  border-radius: 5px;
}
div.games a.game {
  padding: 10px;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  margin-left: 30px;
  margin-top: 30px;
  color: #5d3a75;
  display: inline-block;
}
a.game:hover {
  background-color: #86a5cf;
}
div.troubleshooting {
  background-color: yellow;
  font-family: "Caveat Brush", cursive;
  color: black;
  margin: 30px;
  padding: 15px;
  border-radius: 25px;
}
div.troubleshooting p {
  font-size: 15px;
  margin: 10px;
}
article {
  background-color: rgb(244, 244, 248);
  margin: 30px;
  border-radius: 20px;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
}
article p {
  font-size: 15px;
  margin-bottom: 15px;
}
iframe {
  margin: 0;
  width: 1360px;
  height: 1500px;
}
img.profile {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid purple;
}
p.news {
  font-size: 20px;
}
body.music {
  text-align: center;
}
ul.gamerpro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
header p {
  position: absolute;
  top: 0%;
  right: 35%
}
p.respekt {
  text-align: center;
  margin-top: 400px;
  font-size: 20px;
  color: gray;
}